// ==== COLORS ====
$textColor: #fff;
$primaryColor: #ff0066;
$backgroundColorDark: #242426;
$backgroundColorLightDark: #353537;

// ==== TEXT ====
$fontPoppins: "Poppins", sans-serif;
$fontRaliway:  "Poppins", sans-serif;